torch-ema
ninja
trimesh
opencv-python
tensorboardX
numpy 
pandas
tqdm
matplotlib
PyMCubes
rich
dearpygui
packaging
scipy
scikit-learn

face_alignment
python_speech_features
numba
resampy
pyaudio
soundfile
einops
configargparse

lpips
imageio-ffmpeg


#以下为docker中指定的版本
#pytorch==1.12.1
#torchvision==0.13.1
#cudatoolkit==11.3
